

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 5px solid #666;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  header img {
    height: 50px;
    filter: drop-shadow(0px 0px 5px #fff);
  }
  
  nav ul {
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #666;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    background-color: #888;
  }

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 1000px;
	margin: 20px auto;
}

section {
	margin: 40px 0;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

li {
	width: 30%;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

form label {
	display: block;
	margin-bottom: 10px;
}

form input,
form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 
}